In [1]:
import os
import sys

os.environ["PYLIB"]=os.path.join(os.environ["SPARK_HOME"],'python','lib')
sys.path.insert(0,os.path.join(os.environ["PYLIB"],'py4j-0.10.1-src.zip'))
sys.path.insert(0,os.path.join(os.environ["PYLIB"],'pyspark.zip'))

In [2]:
import pyspark
myConf=pyspark.SparkConf() # SparkSession에 필요한 설정을 삽입해서 만듦. 지금은 공란
spark = pyspark.sql.SparkSession.builder\
    .master("local")\
    .appName("myApp")\
    .config("spark.sql.warehouse.dir", "C:\users\g312")\
    .getOrCreate()

In [3]:
print spark.version

2.0.0

## DataFrame

In [4]:
myList=[('1','kim, js',170),
        ('1','lee, sm', 175),
        ('2','lim, yg',180),
        ('2','lee',170)]

In [5]:
myDf=spark.createDataFrame(myList) #내부든 외부든 createDataFrame쓰면 DF가 생성됨

In [6]:
myDf.printSchema() #앞 두 column은 string ('')으로, 마지막 column은 long으로 자동 지정
print myDf.take(1) #column이름이 없으므로 열은 _1, _2와 같이 표시됨

root
 |-- _1: string (nullable = true)
 |-- _2: string (nullable = true)
 |-- _3: long (nullable = true)

[Row(_1=u'1', _2=u'kim, js', _3=170)]

In [7]:
print spark.createDataFrame(myList, ['year','name','height']).take(1)
#이와 같이 열의 이름을 설정하면 출력시에도 열의 이름으로 보여준다.

[Row(year=u'1', name=u'kim, js', height=170)]

In [8]:
names = ["kim","lee","lee","lim"]
items = ["espresso","latte","americano","affocato","long black","macciato"]
df = spark.createDataFrame([(names[i%4], items[i%6]) for i in range(100)],\
                           ["name","item"])
#위에 있는 이름과 아이템들을 순서대로 100번 반복반환한다.
#names[i%4], items[i%6] i->0, 1, 2, 3 and i->0, 1, 2, 3, 4, 5
df.show(10)

+----+----------+
|name|      item|
+----+----------+
| kim|  espresso|
| lee|     latte|
| lee| americano|
| lim|  affocato|
| kim|long black|
| lee|  macciato|
| lee|  espresso|
| lim|     latte|
| kim| americano|
| lee|  affocato|
+----+----------+
only showing top 10 rows

In [9]:
df.select(df.item.substr(1, 3).alias("short name")).show(3)
#substr -> 선택할 문자의 range(현재는 세글자), alias -> 컬럼의 이름

+----------+
|short name|
+----------+
|       esp|
|       lat|
|       ame|
+----------+
only showing top 3 rows

In [10]:
from pyspark.sql import Row # Row 객체를 사용한다.
Person = Row('year','name', 'height') #Row안(속성)에는 column의 이름이 들어감.
row1=Person('1','kim, js',170)#Person이란 Row 객체에 맞춰 행을 입력.

In [11]:
print "row1: ", row1.year, row1.name #row.key 방식으로 출력, row[key]로도 출력된다.

row1:  1 kim, js

In [12]:
myRows = [row1, #myRows(DataFrame)에 들어갈 객체로 만들어진 객체를 넣을 수 있다.
          Person('1','lee, sm', 175),
          Person('2','lim, yg',180),
          Person('2','lee',170)] 
#DataFrame을 List의 형태로 생성하는 방식

In [13]:
myDf=spark.createDataFrame(myRows)

In [14]:
print myDf.printSchema()
myDf.show()

root
 |-- year: string (nullable = true)
 |-- name: string (nullable = true)
 |-- height: long (nullable = true)

None
+----+-------+------+
|year|   name|height|
+----+-------+------+
|   1|kim, js|   170|
|   1|lee, sm|   175|
|   2|lim, yg|   180|
|   2|    lee|   170|
+----+-------+------+

In [15]:
#Schema를 정의해보자.
from pyspark.sql.types import StructType, StructField
from pyspark.sql.types import StringType, IntegerType
mySchema=StructType([
    StructField("year", StringType(), True),
    StructField("name", StringType(), True),
    StructField("height", IntegerType(), True)
])
#현재 StructField엔 column의 명칭, 타입, 그리고 Null의 허용여부가 순서대로 입력되어 있다

In [16]:
myDf=spark.createDataFrame(myRows, mySchema) #처음과 다르게 리스트와 스키마를 같이 부름.
myDf.printSchema() #결과에서 보이듯이 자동지정된 Long이 아닌 Int형이다.
myDf.take(1)

root
 |-- year: string (nullable = true)
 |-- name: string (nullable = true)
 |-- height: integer (nullable = true)

[Row(year=u'1', name=u'kim, js', height=170)]

In [17]:
#Rdd로 DF를 생성해보자.
from pyspark.sql import Row

myList=[('1','kim, js',170),('1','lee, sm', 175),('2','lim, yg',180),('2','lee',170)]
myRdd = spark.sparkContext.parallelize(myList)

In [18]:
rddDf=myRdd.toDF() #toDF 함수로 RDD가 DF로 형변환된다. Schema가 없으므로 자동지정됨.
rddDf.printSchema()

root
 |-- _1: string (nullable = true)
 |-- _2: string (nullable = true)
 |-- _3: long (nullable = true)

In [19]:
rddDf=spark.createDataFrame(myRdd) #RDD를 생성함수로도 변환시킬 수 있다.
rddDf.printSchema()

root
 |-- _1: string (nullable = true)
 |-- _2: string (nullable = true)
 |-- _3: long (nullable = true)

In [29]:
rddDf.where(rddDf._3 < 175)\
    .select([rddDf._1, rddDf._2])\
    .show() 
#데이터에서 _3(세번째 column)의 value<175인 row는?
#1, 2번 column을 선택
#선택된 column과 row만 보여준다.

+---+-------+
| _1|     _2|
+---+-------+
|  1|kim, js|
|  2|    lee|
+---+-------+

In [21]:
rddDf.groupby(rddDf._1).max().show()
#이거 어려워 보이는데 쉬움.
#일단 DF를 rddDf._1(key)로 그룹핑하고 그룹마다의 value의 최댓값을 골라 이를 출력한다.

+---+-------+
| _1|max(_3)|
+---+-------+
|  1|    175|
|  2|    180|
+---+-------+

In [22]:
#Row 객체로 위를 구현해보자.
_myRdd=myRdd.map(lambda x:Row(year=int(x[0]),name=x[1],height=int(x[2])))
#year는 int로 자동 형변환된다.
#맵에서 column이름을 정해준다.
#RDD에서도 Row 객체를 쓸 수 있구나.

In [23]:
_myDf=spark.createDataFrame(_myRdd) # 위와 같은 과정
_myDf.printSchema() #위에선 int로 받았지만, schema 설정한 것은 아니므로 자동지정
_myDf.take(1)

root
 |-- height: long (nullable = true)
 |-- name: string (nullable = true)
 |-- year: long (nullable = true)

[Row(height=170, name=u'kim, js', year=1)]

In [24]:
from pyspark.sql import Row
from pyspark.sql.types import StructType, StructField
from pyspark.sql.types import StringType, IntegerType, TimestampType
r1=Row(name="js1",age=10)
r2=Row(name="js2",age=20)
_myRdd=spark.sparkContext.parallelize([r1,r2])
#Row 객체로 RDD를 생성할 수 있는 것이었다.

In [25]:
_myRdd.collect()

[Row(age=10, name='js1'), Row(age=20, name='js2')]

In [26]:
#createDataFrame함수에 (Rdd, schema)로 정의한 schema를 생성할 수 있다.
schema=StructType([
    StructField("age", IntegerType(), True),
    StructField("name", StringType(), True),
    #StructField("created", TimestampType(), True)
])
_myDf=spark.createDataFrame(_myRdd,schema)
_myDf.printSchema()
_myDf.show()

root
 |-- age: integer (nullable = true)
 |-- name: string (nullable = true)

+---+----+
|age|name|
+---+----+
| 10| js1|
| 20| js2|
+---+----+

In [27]:
#위의 RDD->DF + Schema를 정리하면 아래와 같다.

from pyspark.sql.types import *
myRdd=spark.sparkContext.parallelize([(1, 'kim', 50.0), (2, 'lee', 60.0), (3, 'park', 70.0)])
schema = StructType([
    StructField("id", IntegerType(), True),
    StructField("name", StringType(), True),
    StructField("height", DoubleType(), True)
])
_myDf = spark.createDataFrame(myRdd, schema)
_myDf.printSchema()
_myDf.show()

root
 |-- id: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- height: double (nullable = true)

+---+----+------+
| id|name|height|
+---+----+------+
|  1| kim|  50.0|
|  2| lee|  60.0|
|  3|park|  70.0|
+---+----+------+

## Pandas

In [28]:
myDf.toPandas()

  year     name  height
0    1  kim, js     170
1    1  lee, sm     175
2    2  lim, yg     180
3    2      lee     170

In [ ]:
#myDf.write.format('com.databricks.spark.csv').save(os.path.join('data','_myDf.csv')) #error 발생.

In [ ]:
#!doskey ls = dir #doskey ls란 이름으로 dir 기능을 구현

In [ ]:
%%writefile data\ds_twitter_seoul_3.json
{"contributors": null, "truncated": false, "text": "RT @soompi: #SEVENTEEN’s Mingyu, Jin Se Yeon, And Leeteuk To MC For 2016 Super Seoul Dream Concert \nhttps://t.co/1XRSaRBbE0 https://t.co/fi…", "is_quote_status": false, "in_reply_to_status_id": null, "id": 801657325836763136, "favorite_count": 0, "entities": {"symbols": [], "user_mentions": [{"id": 17659206, "indices": [3, 10], "id_str": "17659206", "screen_name": "soompi", "name": "Soompi"}], "hashtags": [{"indices": [12, 22], "text": "SEVENTEEN"}], "urls": [{"url": "https://t.co/1XRSaRBbE0", "indices": [100, 123], "expanded_url": "http://www.soompi.com/2016/11/20/seventeens-mingyu-jin-se-yeon-leeteuk-mc-dream-concert/", "display_url": "soompi.com/2016/11/20/sev…"}]}, "retweeted": false, "coordinates": null, "source": "<a href=\"http://twitter.com/download/android\" rel=\"nofollow\">Twitter for Android</a>", "in_reply_to_screen_name": null, "in_reply_to_user_id": null, "retweet_count": 1487, "id_str": "801657325836763136", "favorited": false, "retweeted_status": {"contributors": null, "truncated": false, "text": "#SEVENTEEN’s Mingyu, Jin Se Yeon, And Leeteuk To MC For 2016 Super Seoul Dream Concert \nhttps://t.co/1XRSaRBbE0 https://t.co/fifXHpF8or", "is_quote_status": false, "in_reply_to_status_id": null, "id": 800593781586132993, "favorite_count": 1649, "entities": {"symbols": [], "user_mentions": [], "hashtags": [{"indices": [0, 10], "text": "SEVENTEEN"}], "urls": [{"url": "https://t.co/1XRSaRBbE0", "indices": [88, 111], "expanded_url": "http://www.soompi.com/2016/11/20/seventeens-mingyu-jin-se-yeon-leeteuk-mc-dream-concert/", "display_url": "soompi.com/2016/11/20/sev…"}], "media": [{"expanded_url": "https://twitter.com/soompi/status/800593781586132993/photo/1", "display_url": "pic.twitter.com/fifXHpF8or", "url": "https://t.co/fifXHpF8or", "media_url_https": "https://pbs.twimg.com/media/CxxHMk8UsAA4cUT.jpg", "id_str": "800593115165798400", "sizes": {"small": {"h": 382, "resize": "fit", "w": 680}, "large": {"h": 449, "resize": "fit", "w": 800}, "medium": {"h": 449, "resize": "fit", "w": 800}, "thumb": {"h": 150, "resize": "crop", "w": 150}}, "indices": [112, 135], "type": "photo", "id": 800593115165798400, "media_url": "http://pbs.twimg.com/media/CxxHMk8UsAA4cUT.jpg"}]}, "retweeted": false, "coordinates": null, "source": "<a href=\"https://about.twitter.com/products/tweetdeck\" rel=\"nofollow\">TweetDeck</a>", "in_reply_to_screen_name": null, "in_reply_to_user_id": null, "retweet_count": 1487, "id_str": "800593781586132993", "favorited": false, "user": {"follow_request_sent": false, "has_extended_profile": true, "profile_use_background_image": true, "default_profile_image": false, "id": 17659206, "profile_background_image_url_https": "https://pbs.twimg.com/profile_background_images/699864769/1cdde0a85f5c0a994ae1fb06d545a5ec.png", "verified": true, "translator_type": "none", "profile_text_color": "999999", "profile_image_url_https": "https://pbs.twimg.com/profile_images/792117259489583104/4khJk3zz_normal.jpg", "profile_sidebar_fill_color": "000000", "entities": {"url": {"urls": [{"url": "http://t.co/3evT80UlR9", "indices": [0, 22], "expanded_url": "http://www.soompi.com", "display_url": "soompi.com"}]}, "description": {"urls": []}}, "followers_count": 987867, "profile_sidebar_border_color": "000000", "id_str": "17659206", "profile_background_color": "1E1E1E", "listed_count": 3982, "is_translation_enabled": true, "utc_offset": -28800, "statuses_count": 80038, "description": "The original K-pop community. We take gifs, OTPs, and reporting on your bias' fashion choices seriously. But not rumors. Ain't nobody got time for that.", "friends_count": 3532, "location": "Worldwide", "profile_link_color": "31B6F4", "profile_image_url": "http://pbs.twimg.com/profile_images/792117259489583104/4khJk3zz_normal.jpg", "following": false, "geo_enabled": false, "profile_banner_url": "https://pbs.twimg.com/profile_banners/17659206/1478803767", "profile_background_image_url": "http://pbs.twimg.com/profile_background_images/699864769/1cdde0a85f5c0a994ae1fb06d545a5ec.png", "screen_name": "soompi", "lang": "en", "profile_background_tile": true, "favourites_count": 1493, "name": "Soompi", "notifications": false, "url": "http://t.co/3evT80UlR9", "created_at": "Wed Nov 26 20:48:27 +0000 2008", "contributors_enabled": false, "time_zone": "Pacific Time (US & Canada)", "protected": false, "default_profile": false, "is_translator": false}, "geo": null, "in_reply_to_user_id_str": null, "possibly_sensitive": false, "lang": "en", "created_at": "Mon Nov 21 06:56:46 +0000 2016", "in_reply_to_status_id_str": null, "place": null, "extended_entities": {"media": [{"expanded_url": "https://twitter.com/soompi/status/800593781586132993/photo/1", "display_url": "pic.twitter.com/fifXHpF8or", "url": "https://t.co/fifXHpF8or", "media_url_https": "https://pbs.twimg.com/media/CxxHMk8UsAA4cUT.jpg", "id_str": "800593115165798400", "sizes": {"small": {"h": 382, "resize": "fit", "w": 680}, "large": {"h": 449, "resize": "fit", "w": 800}, "medium": {"h": 449, "resize": "fit", "w": 800}, "thumb": {"h": 150, "resize": "crop", "w": 150}}, "indices": [112, 135], "type": "photo", "id": 800593115165798400, "media_url": "http://pbs.twimg.com/media/CxxHMk8UsAA4cUT.jpg"}]}, "metadata": {"iso_language_code": "en", "result_type": "recent"}}, "user": {"follow_request_sent": false, "has_extended_profile": false, "profile_use_background_image": true, "default_profile_image": true, "id": 791090169818521600, "profile_background_image_url_https": null, "verified": false, "translator_type": "none", "profile_text_color": "333333", "profile_image_url_https": "https://abs.twimg.com/sticky/default_profile_images/default_profile_6_normal.png", "profile_sidebar_fill_color": "DDEEF6", "entities": {"description": {"urls": []}}, "followers_count": 0, "profile_sidebar_border_color": "C0DEED", "id_str": "791090169818521600", "profile_background_color": "F5F8FA", "listed_count": 0, "is_translation_enabled": false, "utc_offset": null, "statuses_count": 96, "description": "", "friends_count": 7, "location": "", "profile_link_color": "1DA1F2", "profile_image_url": "http://abs.twimg.com/sticky/default_profile_images/default_profile_6_normal.png", "following": false, "geo_enabled": false, "profile_background_image_url": null, "screen_name": "enriquesanq", "lang": "es", "profile_background_tile": false, "favourites_count": 161, "name": "Enrique santos", "notifications": false, "url": null, "created_at": "Wed Oct 26 01:32:49 +0000 2016", "contributors_enabled": false, "time_zone": null, "protected": false, "default_profile": true, "is_translator": false}, "geo": null, "in_reply_to_user_id_str": null, "possibly_sensitive": false, "lang": "en", "created_at": "Thu Nov 24 05:22:55 +0000 2016", "in_reply_to_status_id_str": null, "place": null, "metadata": {"iso_language_code": "en", "result_type": "recent"}}

In [ ]:
import os
_jfname=os.path.join('data','ds_twitter_seoul_3.json')
with open(_jfname, 'rb') as f:
    data = f.readlines()
    
data

In [ ]:
data = map(lambda x: x.rstrip(), data)

In [ ]:
print "+".join(["A", "B", "C"]) #join 함수는 앞의 문자와 안의 인자를 결합

data_json_str = "[" + ','.join(data) + "]"

In [ ]:
len(data_json_str)

In [ ]:
import pandas as pd

data_df = pd.read_json(data_json_str)

In [ ]:
print data_df.count() #행의 개수  #전자는 column명이다.

In [ ]:
data_df['id'][:10]

In [58]:
bicycleRdd=spark.sparkContext.textFile(os.path.join('data','bicycle.csv'))

In [53]:
bicycleRdd.collect()

[u'\ufffd\ubfe9\ufffd\ufffd\ufffd\ufffd,\ufffd\ubfe9\ufffd\u01fc\ufffd',
 u'2018-01-01,4950',
 u'2018-01-02,7136',
 u'2018-01-03,7156',
 u'2018-01-04,7102',
 u'2018-01-05,7705',
 u'2018-01-06,5681',
 u'2018-01-07,5220',
 u'2018-01-08,6309',
 u'2018-01-09,5988',
 u'2018-01-10,4476',
 u'2018-01-11,4337',
 u'2018-01-12,4401',
 u'2018-01-13,3756',
 u'2018-01-14,4675',
 u'2018-01-15,6993',
 u'2018-01-16,7421',
 u'2018-01-17,6990',
 u'2018-01-18,7054',
 u'2018-01-19,8329',
 u'2018-01-20,6148',
 u'2018-01-21,5574',
 u'2018-01-22,4929',
 u'2018-01-23,4263',
 u'2018-01-24,3370',
 u'2018-01-25,3307',
 u'2018-01-26,3116',
 u'2018-01-27,2833',
 u'2018-01-28,3028',
 u'2018-01-29,4425',
 u'2018-01-30,3591',
 u'2018-01-31,4104',
 u'2018-02-01,5821',
 u'2018-02-02,6557',
 u'2018-02-03,3499',
 u'2018-02-04,2642',
 u'2018-02-05,4213',
 u'2018-02-06,4257',
 u'2018-02-07,5028',
 u'2018-02-08,6114',
 u'2018-02-09,6905',
 u'2018-02-10,4829',
 u'2018-02-11,3047',
 u'2018-02-12,5231',
 u'2018-02-13,6863',
 u'2018-02-14,7477',
 u'2018-02-15,3935',
 u'2018-02-16,3047',
 u'2018-02-17,3494',
 u'2018-02-18,5191',
 u'2018-02-19,8563',
 u'2018-02-20,8899',
 u'2018-02-21,8342',
 u'2018-02-22,8580',
 u'2018-02-23,6408',
 u'2018-02-24,7198',
 u'2018-02-25,7595',
 u'2018-02-26,10712',
 u'2018-02-27,10064',
 u'2018-02-28,4230',
 u'2018-03-01,5761',
 u'2018-03-02,9388',
 u'2018-03-03,16029',
 u'2018-03-04,5373',
 u'2018-03-05,9943',
 u'2018-03-06,14028',
 u'2018-03-07,12925',
 u'2018-03-08,8812',
 u'2018-03-09,13573',
 u'2018-03-10,13324',
 u'2018-03-11,15136',
 u'2018-03-12,15913',
 u'2018-03-13,19514',
 u'2018-03-14,24911',
 u'2018-03-15,7091',
 u'2018-03-16,18415',
 u'2018-03-17,20165',
 u'2018-03-18,11740',
 u'2018-03-19,10297',
 u'2018-03-20,13205',
 u'2018-03-21,8225',
 u'2018-03-22,16420',
 u'2018-03-23,17904',
 u'2018-03-24,14914',
 u'2018-03-25,13942',
 u'2018-03-26,15505',
 u'2018-03-27,17456',
 u'2018-03-28,21232',
 u'2018-03-29,21436',
 u'2018-03-30,24411',
 u'2018-03-31,25673',
 u'2018-04-01,22994',
 u'2018-04-02,28139',
 u'2018-04-03,26817',
 u'2018-04-04,26034',
 u'2018-04-05,2833',
 u'2018-04-06,13297',
 u'2018-04-07,13088',
 u'2018-04-08,7758',
 u'2018-04-09,23925',
 u'2018-04-10,20423',
 u'2018-04-11,25557',
 u'2018-04-12,28885',
 u'2018-04-13,29497',
 u'2018-04-14,8216',
 u'2018-04-15,12721',
 u'2018-04-16,29589',
 u'2018-04-17,28236',
 u'2018-04-18,23499',
 u'2018-04-19,20400',
 u'2018-04-20,28351',
 u'2018-04-21,33144',
 u'2018-04-22,8095',
 u'2018-04-23,1037',
 u'2018-04-24,24560',
 u'2018-04-25,33728',
 u'2018-04-26,32547',
 u'2018-04-27,32989',
 u'2018-04-28,33738',
 u'2018-04-29,35159',
 u'2018-04-30,32629',
 u'2018-05-01,34593',
 u'2018-05-02,8374',
 u'2018-05-03,25963',
 u'2018-05-04,34058',
 u'2018-05-05,37389',
 u'2018-05-06,19809',
 u'2018-05-07,40026',
 u'2018-05-08,33738',
 u'2018-05-09,37851',
 u'2018-05-10,36549',
 u'2018-05-11,33923',
 u'2018-05-12,3551',
 u'2018-05-13,35668',
 u'2018-05-14,35918',
 u'2018-05-15,36476',
 u'2018-05-16,7072',
 u'2018-05-17,3802',
 u'2018-05-18,19629',
 u'2018-05-19,43471',
 u'2018-05-20,39036',
 u'2018-05-21,42039',
 u'2018-05-22,17444',
 u'2018-05-23,35975',
 u'2018-05-24,36858',
 u'2018-05-25,37569',
 u'2018-05-26,37761',
 u'2018-05-27,39534',
 u'2018-05-28,40775',
 u'2018-05-29,29925',
 u'2018-05-30,39214',
 u'2018-05-31,41619',
 u'2018-06-01,41970',
 u'2018-06-02,41677',
 u'2018-06-03,40565',
 u'2018-06-04,44014',
 u'2018-06-05,44118',
 u'2018-06-06,40440',
 u'2018-06-07,42038',
 u'2018-06-08,46516',
 u'2018-06-09,32839',
 u'2018-06-10,39277',
 u'2018-06-11,30605',
 u'2018-06-12,46201',
 u'2018-06-13,49116',
 u'2018-06-14,30511',
 u'2018-06-15,45103',
 u'2018-06-16,46457',
 u'2018-06-17,43484',
 u'2018-06-18,36316',
 u'2018-06-19,47296',
 u'2018-06-20,46612',
 u'2018-06-21,47762',
 u'2018-06-22,47478',
 u'2018-06-23,45663',
 u'2018-06-24,39548',
 u'2018-06-25,46565',
 u'2018-06-26,6391',
 u'2018-06-27,41128',
 u'2018-06-28,27757',
 u'2018-06-29,42765',
 u'2018-06-30,26911',
 u'2018-07-01,4358',
 u'2018-07-02,6261',
 u'2018-07-03,41350',
 u'2018-07-04,45741',
 u'2018-07-05,39804',
 u'2018-07-06,49521',
 u'2018-07-07,48015',
 u'2018-07-08,48132',
 u'2018-07-09,8155',
 u'2018-07-10,27956',
 u'2018-07-11,35390',
 u'2018-07-12,43611',
 u'2018-07-13,44976',
 u'2018-07-14,39205',
 u'2018-07-15,34957',
 u'2018-07-16,40964',
 u'2018-07-17,43323',
 u'2018-07-18,42609',
 u'2018-07-19,42316',
 u'2018-07-20,40337',
 u'2018-07-21,32360',
 u'2018-07-22,28250',
 u'2018-07-23,38003',
 u'2018-07-24,37486',
 u'2018-07-25,39225',
 u'2018-07-26,37796',
 u'2018-07-27,34985',
 u'2018-07-28,24649',
 u'2018-07-29,28317',
 u'2018-07-30,36701',
 u'2018-07-31,35262',
 u'2018-08-01,31169',
 u'2018-08-02,31321',
 u'2018-08-03,31646',
 u'2018-08-04,28174',
 u'2018-08-05,26989',
 u'2018-08-06,29113',
 u'2018-08-07,36983',
 u'2018-08-08,37140',
 u'2018-08-09,32216',
 u'2018-08-10,36178',
 u'2018-08-11,31293',
 u'2018-08-12,27363',
 u'2018-08-13,36076',
 u'2018-08-14,37659',
 u'2018-08-15,29270',
 u'2018-08-16,41358',
 u'2018-08-17,47634',
 u'2018-08-18,45629',
 u'2018-08-19,42281',
 u'2018-08-20,44243',
 u'2018-08-21,41964',
 u'2018-08-22,42425',
 u'2018-08-23,23616',
 u'2018-08-24,17319',
 u'2018-08-25,47109',
 u'2018-08-26,32200',
 u'2018-08-27,23382',
 u'2018-08-28,13495',
 u'2018-08-29,13001',
 u'2018-08-30,33158',
 u'2018-08-31,46101',
 u'2018-09-01,43847',
 u'2018-09-02,48427',
 u'2018-09-03,16086',
 u'2018-09-04,50500',
 u'2018-09-05,53984',
 u'2018-09-06,46532',
 u'2018-09-07,53230',
 u'2018-09-08,55470',
 u'2018-09-09,54213',
 u'2018-09-10,55188',
 u'2018-09-11,56212',
 u'2018-09-12,57363',
 u'2018-09-13,55791',
 u'2018-09-14,49383',
 u'2018-09-15,44808',
 u'2018-09-16,24317',
 u'2018-09-17,55335',
 u'2018-09-18,57691',
 u'2018-09-19,44096',
 u'2018-09-20,23616',
 u'2018-09-21,32242',
 u'2018-09-22,49688',
 u'2018-09-23,38635',
 u'2018-09-24,36406',
 u'2018-09-25,49595',
 u'2018-09-26,57730',
 u'2018-09-27,58200',
 u'2018-09-28,59649',
 u'2018-09-29,63866',
 u'2018-09-30,55893',
 u'2018-10-01,51808',
 u'2018-10-02,57280',
 u'2018-10-03,64671',
 u'2018-10-04,59413',
 u'2018-10-05,7772',
 u'2018-10-06,32510',
 u'2018-10-07,57873',
 u'2018-10-08,57247',
 u'2018-10-09,61525',
 u'2018-10-10,44876',
 u'2018-10-11,44489',
 u'2018-10-12,48529',
 u'2018-10-13,49203',
 u'2018-10-14,49025',
 u'2018-10-15,49503',
 u'2018-10-16,51236',
 u'2018-10-17,49795',
 u'2018-10-18,49560',
 u'2018-10-19,52122',
 u'2018-10-20,49815',
 u'2018-10-21,48346',
 u'2018-10-22,49889',
 u'2018-10-23,40223',
 u'2018-10-24,50343',
 u'2018-10-25,52181',
 u'2018-10-26,24308',
 u'2018-10-27,33699',
 u'2018-10-28,20882',
 u'2018-10-29,36107',
 u'2018-10-30,37382',
 u'2018-10-31,39009',
 u'2018-11-01,41911',
 u'2018-11-02,44917',
 u'2018-11-03,40640',
 u'2018-11-04,39973',
 u'2018-11-05,43870',
 u'2018-11-06,39680',
 u'2018-11-07,29492',
 u'2018-11-08,2730',
 u'2018-11-09,34673',
 u'2018-11-10,34194',
 u'2018-11-11,23926',
 u'2018-11-12,38706',
 u'2018-11-13,40263',
 u'2018-11-14,41973',
 u'2018-11-15,39702',
 u'2018-11-16,37629',
 u'2018-11-17,28167',
 u'2018-11-18,26464',
 u'2018-11-19,34352',
 u'2018-11-20,34855',
 u'2018-11-21,28140',
 u'2018-11-22,29239',
 u'2018-11-23,28620',
 u'2018-11-24,11255',
 u'2018-11-25,19946',
 u'2018-11-26,30698',
 u'2018-11-27,28806',
 u'2018-11-28,29177',
 u'2018-11-29,28977',
 u'2018-11-30,28557',
 u'2018-12-01,24622',
 u'2018-12-02,23035',
 u'2018-12-03,10638',
 u'2018-12-04,20029',
 u'2018-12-05,23535',
 u'2018-12-06,23788',
 u'2018-12-07,15148',
 u'2018-12-08,9824',
 u'2018-12-09,8749',
 u'2018-12-10,17987',
 u'2018-12-11,20805',
 u'2018-12-12,19339',
 u'2018-12-13,11765',
 u'2018-12-14,14932',
 u'2018-12-15,12720',
 u'2018-12-16,10783',
 u'2018-12-17,17449',
 u'2018-12-18,20917',
 u'2018-12-19,21970',
 u'2018-12-20,22881',
 u'2018-12-21,23422',
 u'2018-12-22,17127',
 u'2018-12-23,13601',
 u'2018-12-24,16579',
 u'2018-12-25,12437',
 u'2018-12-26,17112',
 u'2018-12-27,11325',
 u'2018-12-28,10445',
 u'2018-12-29,8083',
 u'2018-12-30,7864',
 u'2018-12-31,11911',
 u'2019-01-01,8601',
 u'2019-01-02,14360',
 u'2019-01-03,16344',
 u'2019-01-04,17308',
 u'2019-01-05,12380',
 u'2019-01-06,11094',
 u'2019-01-07,16795',
 u'2019-01-08,15833',
 u'2019-01-09,15819',
 u'2019-01-10,17894',
 u'2019-01-11,19271',
 u'2019-01-12,14519',
 u'2019-01-13,11751',
 u'2019-01-14,14818',
 u'2019-01-15,14761',
 u'2019-01-16,15823',
 u'2019-01-17,17960',
 u'2019-01-18,18901',
 u'2019-01-19,14883',
 u'2019-01-20,11191',
 u'2019-01-21,17240',
 u'2019-01-22,19885',
 u'2019-01-23,19163',
 u'2019-01-24,20057',
 u'2019-01-25,18159',
 u'2019-01-26,13203',
 u'2019-01-27,12440',
 u'2019-01-28,17317',
 u'2019-01-29,19477',
 u'2019-01-30,20677',
 u'2019-01-31,17649',
 u'2019-02-01,17696',
 u'2019-02-02,13742',
 u'2019-02-03,2010',
 u'2019-02-04,8562',
 u'2019-02-05,9119',
 u'2019-02-06,13694',
 u'2019-02-07,14533',
 u'2019-02-08,14782',
 u'2019-02-09,11760',
 u'2019-02-10,9759',
 u'2019-02-11,16881',
 u'2019-02-12,18862',
 u'2019-02-13,18411',
 u'2019-02-14,19376',
 u'2019-02-15,9213',
 u'2019-02-16,12641',
 u'2019-02-17,13390',
 u'2019-02-18,19916',
 u'2019-02-19,11689',
 u'2019-02-20,19572',
 u'2019-02-21,20995',
 u'2019-02-22,21727',
 u'2019-02-23,23742',
 u'2019-02-24,21933',
 u'2019-02-25,23445',
 u'2019-02-26,28010',
 u'2019-02-27,28652',
 u'2019-02-28,27431',
 u'2019-03-01,21751',
 u'2019-03-02,22503',
 u'2019-03-03,24382',
 u'2019-03-04,26887',
 u'2019-03-05,24042',
 u'2019-03-06,25379',
 u'2019-03-07,31156',
 u'2019-03-08,33073',
 u'2019-03-09,32421',
 u'2019-03-10,31050',
 u'2019-03-11,28539',
 u'2019-03-12,25537',
 u'2019-03-13,28653',
 u'2019-03-14,30997',
 u'2019-03-15,20481',
 u'2019-03-16,26057',
 u'2019-03-17,35622',
 u'2019-03-18,36313',
 u'2019-03-19,39908',
 u'2019-03-20,16204',
 u'2019-03-21,26455',
 u'2019-03-22,32363',
 u'2019-03-23,21696',
 u'2019-03-24,31622',
 u'2019-03-25,34226',
 u'2019-03-26,42644',
 u'2019-03-27,35832',
 u'2019-03-28,38806',
 u'2019-03-29,43893',
 u'2019-03-30,14001',
 u'2019-03-31,22326']

In [60]:
from pyspark.sql.types import StructType, StructField
from pyspark.sql.types import StringType, IntegerType
bicycleSchema=StructType([
    StructField("date", StringType(), True),
    StructField("count", IntegerType(), True)
])

In [59]:
bicycleRdd=bicycleRdd.map(lambda x:x.split(','))

In [61]:
bicycleRdd.collect()

[[u'2018-01-01', u'4950'],
 [u'2018-01-02', u'7136'],
 [u'2018-01-03', u'7156'],
 [u'2018-01-04', u'7102'],
 [u'2018-01-05', u'7705'],
 [u'2018-01-06', u'5681'],
 [u'2018-01-07', u'5220'],
 [u'2018-01-08', u'6309'],
 [u'2018-01-09', u'5988'],
 [u'2018-01-10', u'4476'],
 [u'2018-01-11', u'4337'],
 [u'2018-01-12', u'4401'],
 [u'2018-01-13', u'3756'],
 [u'2018-01-14', u'4675'],
 [u'2018-01-15', u'6993'],
 [u'2018-01-16', u'7421'],
 [u'2018-01-17', u'6990'],
 [u'2018-01-18', u'7054'],
 [u'2018-01-19', u'8329'],
 [u'2018-01-20', u'6148'],
 [u'2018-01-21', u'5574'],
 [u'2018-01-22', u'4929'],
 [u'2018-01-23', u'4263'],
 [u'2018-01-24', u'3370'],
 [u'2018-01-25', u'3307'],
 [u'2018-01-26', u'3116'],
 [u'2018-01-27', u'2833'],
 [u'2018-01-28', u'3028'],
 [u'2018-01-29', u'4425'],
 [u'2018-01-30', u'3591'],
 [u'2018-01-31', u'4104'],
 [u'2018-02-01', u'5821'],
 [u'2018-02-02', u'6557'],
 [u'2018-02-03', u'3499'],
 [u'2018-02-04', u'2642'],
 [u'2018-02-05', u'4213'],
 [u'2018-02-06', u'4257'],
 [u'2018-02-07', u'5028'],
 [u'2018-02-08', u'6114'],
 [u'2018-02-09', u'6905'],
 [u'2018-02-10', u'4829'],
 [u'2018-02-11', u'3047'],
 [u'2018-02-12', u'5231'],
 [u'2018-02-13', u'6863'],
 [u'2018-02-14', u'7477'],
 [u'2018-02-15', u'3935'],
 [u'2018-02-16', u'3047'],
 [u'2018-02-17', u'3494'],
 [u'2018-02-18', u'5191'],
 [u'2018-02-19', u'8563'],
 [u'2018-02-20', u'8899'],
 [u'2018-02-21', u'8342'],
 [u'2018-02-22', u'8580'],
 [u'2018-02-23', u'6408'],
 [u'2018-02-24', u'7198'],
 [u'2018-02-25', u'7595'],
 [u'2018-02-26', u'10712'],
 [u'2018-02-27', u'10064'],
 [u'2018-02-28', u'4230'],
 [u'2018-03-01', u'5761'],
 [u'2018-03-02', u'9388'],
 [u'2018-03-03', u'16029'],
 [u'2018-03-04', u'5373'],
 [u'2018-03-05', u'9943'],
 [u'2018-03-06', u'14028'],
 [u'2018-03-07', u'12925'],
 [u'2018-03-08', u'8812'],
 [u'2018-03-09', u'13573'],
 [u'2018-03-10', u'13324'],
 [u'2018-03-11', u'15136'],
 [u'2018-03-12', u'15913'],
 [u'2018-03-13', u'19514'],
 [u'2018-03-14', u'24911'],
 [u'2018-03-15', u'7091'],
 [u'2018-03-16', u'18415'],
 [u'2018-03-17', u'20165'],
 [u'2018-03-18', u'11740'],
 [u'2018-03-19', u'10297'],
 [u'2018-03-20', u'13205'],
 [u'2018-03-21', u'8225'],
 [u'2018-03-22', u'16420'],
 [u'2018-03-23', u'17904'],
 [u'2018-03-24', u'14914'],
 [u'2018-03-25', u'13942'],
 [u'2018-03-26', u'15505'],
 [u'2018-03-27', u'17456'],
 [u'2018-03-28', u'21232'],
 [u'2018-03-29', u'21436'],
 [u'2018-03-30', u'24411'],
 [u'2018-03-31', u'25673'],
 [u'2018-04-01', u'22994'],
 [u'2018-04-02', u'28139'],
 [u'2018-04-03', u'26817'],
 [u'2018-04-04', u'26034'],
 [u'2018-04-05', u'2833'],
 [u'2018-04-06', u'13297'],
 [u'2018-04-07', u'13088'],
 [u'2018-04-08', u'7758'],
 [u'2018-04-09', u'23925'],
 [u'2018-04-10', u'20423'],
 [u'2018-04-11', u'25557'],
 [u'2018-04-12', u'28885'],
 [u'2018-04-13', u'29497'],
 [u'2018-04-14', u'8216'],
 [u'2018-04-15', u'12721'],
 [u'2018-04-16', u'29589'],
 [u'2018-04-17', u'28236'],
 [u'2018-04-18', u'23499'],
 [u'2018-04-19', u'20400'],
 [u'2018-04-20', u'28351'],
 [u'2018-04-21', u'33144'],
 [u'2018-04-22', u'8095'],
 [u'2018-04-23', u'1037'],
 [u'2018-04-24', u'24560'],
 [u'2018-04-25', u'33728'],
 [u'2018-04-26', u'32547'],
 [u'2018-04-27', u'32989'],
 [u'2018-04-28', u'33738'],
 [u'2018-04-29', u'35159'],
 [u'2018-04-30', u'32629'],
 [u'2018-05-01', u'34593'],
 [u'2018-05-02', u'8374'],
 [u'2018-05-03', u'25963'],
 [u'2018-05-04', u'34058'],
 [u'2018-05-05', u'37389'],
 [u'2018-05-06', u'19809'],
 [u'2018-05-07', u'40026'],
 [u'2018-05-08', u'33738'],
 [u'2018-05-09', u'37851'],
 [u'2018-05-10', u'36549'],
 [u'2018-05-11', u'33923'],
 [u'2018-05-12', u'3551'],
 [u'2018-05-13', u'35668'],
 [u'2018-05-14', u'35918'],
 [u'2018-05-15', u'36476'],
 [u'2018-05-16', u'7072'],
 [u'2018-05-17', u'3802'],
 [u'2018-05-18', u'19629'],
 [u'2018-05-19', u'43471'],
 [u'2018-05-20', u'39036'],
 [u'2018-05-21', u'42039'],
 [u'2018-05-22', u'17444'],
 [u'2018-05-23', u'35975'],
 [u'2018-05-24', u'36858'],
 [u'2018-05-25', u'37569'],
 [u'2018-05-26', u'37761'],
 [u'2018-05-27', u'39534'],
 [u'2018-05-28', u'40775'],
 [u'2018-05-29', u'29925'],
 [u'2018-05-30', u'39214'],
 [u'2018-05-31', u'41619'],
 [u'2018-06-01', u'41970'],
 [u'2018-06-02', u'41677'],
 [u'2018-06-03', u'40565'],
 [u'2018-06-04', u'44014'],
 [u'2018-06-05', u'44118'],
 [u'2018-06-06', u'40440'],
 [u'2018-06-07', u'42038'],
 [u'2018-06-08', u'46516'],
 [u'2018-06-09', u'32839'],
 [u'2018-06-10', u'39277'],
 [u'2018-06-11', u'30605'],
 [u'2018-06-12', u'46201'],
 [u'2018-06-13', u'49116'],
 [u'2018-06-14', u'30511'],
 [u'2018-06-15', u'45103'],
 [u'2018-06-16', u'46457'],
 [u'2018-06-17', u'43484'],
 [u'2018-06-18', u'36316'],
 [u'2018-06-19', u'47296'],
 [u'2018-06-20', u'46612'],
 [u'2018-06-21', u'47762'],
 [u'2018-06-22', u'47478'],
 [u'2018-06-23', u'45663'],
 [u'2018-06-24', u'39548'],
 [u'2018-06-25', u'46565'],
 [u'2018-06-26', u'6391'],
 [u'2018-06-27', u'41128'],
 [u'2018-06-28', u'27757'],
 [u'2018-06-29', u'42765'],
 [u'2018-06-30', u'26911'],
 [u'2018-07-01', u'4358'],
 [u'2018-07-02', u'6261'],
 [u'2018-07-03', u'41350'],
 [u'2018-07-04', u'45741'],
 [u'2018-07-05', u'39804'],
 [u'2018-07-06', u'49521'],
 [u'2018-07-07', u'48015'],
 [u'2018-07-08', u'48132'],
 [u'2018-07-09', u'8155'],
 [u'2018-07-10', u'27956'],
 [u'2018-07-11', u'35390'],
 [u'2018-07-12', u'43611'],
 [u'2018-07-13', u'44976'],
 [u'2018-07-14', u'39205'],
 [u'2018-07-15', u'34957'],
 [u'2018-07-16', u'40964'],
 [u'2018-07-17', u'43323'],
 [u'2018-07-18', u'42609'],
 [u'2018-07-19', u'42316'],
 [u'2018-07-20', u'40337'],
 [u'2018-07-21', u'32360'],
 [u'2018-07-22', u'28250'],
 [u'2018-07-23', u'38003'],
 [u'2018-07-24', u'37486'],
 [u'2018-07-25', u'39225'],
 [u'2018-07-26', u'37796'],
 [u'2018-07-27', u'34985'],
 [u'2018-07-28', u'24649'],
 [u'2018-07-29', u'28317'],
 [u'2018-07-30', u'36701'],
 [u'2018-07-31', u'35262'],
 [u'2018-08-01', u'31169'],
 [u'2018-08-02', u'31321'],
 [u'2018-08-03', u'31646'],
 [u'2018-08-04', u'28174'],
 [u'2018-08-05', u'26989'],
 [u'2018-08-06', u'29113'],
 [u'2018-08-07', u'36983'],
 [u'2018-08-08', u'37140'],
 [u'2018-08-09', u'32216'],
 [u'2018-08-10', u'36178'],
 [u'2018-08-11', u'31293'],
 [u'2018-08-12', u'27363'],
 [u'2018-08-13', u'36076'],
 [u'2018-08-14', u'37659'],
 [u'2018-08-15', u'29270'],
 [u'2018-08-16', u'41358'],
 [u'2018-08-17', u'47634'],
 [u'2018-08-18', u'45629'],
 [u'2018-08-19', u'42281'],
 [u'2018-08-20', u'44243'],
 [u'2018-08-21', u'41964'],
 [u'2018-08-22', u'42425'],
 [u'2018-08-23', u'23616'],
 [u'2018-08-24', u'17319'],
 [u'2018-08-25', u'47109'],
 [u'2018-08-26', u'32200'],
 [u'2018-08-27', u'23382'],
 [u'2018-08-28', u'13495'],
 [u'2018-08-29', u'13001'],
 [u'2018-08-30', u'33158'],
 [u'2018-08-31', u'46101'],
 [u'2018-09-01', u'43847'],
 [u'2018-09-02', u'48427'],
 [u'2018-09-03', u'16086'],
 [u'2018-09-04', u'50500'],
 [u'2018-09-05', u'53984'],
 [u'2018-09-06', u'46532'],
 [u'2018-09-07', u'53230'],
 [u'2018-09-08', u'55470'],
 [u'2018-09-09', u'54213'],
 [u'2018-09-10', u'55188'],
 [u'2018-09-11', u'56212'],
 [u'2018-09-12', u'57363'],
 [u'2018-09-13', u'55791'],
 [u'2018-09-14', u'49383'],
 [u'2018-09-15', u'44808'],
 [u'2018-09-16', u'24317'],
 [u'2018-09-17', u'55335'],
 [u'2018-09-18', u'57691'],
 [u'2018-09-19', u'44096'],
 [u'2018-09-20', u'23616'],
 [u'2018-09-21', u'32242'],
 [u'2018-09-22', u'49688'],
 [u'2018-09-23', u'38635'],
 [u'2018-09-24', u'36406'],
 [u'2018-09-25', u'49595'],
 [u'2018-09-26', u'57730'],
 [u'2018-09-27', u'58200'],
 [u'2018-09-28', u'59649'],
 [u'2018-09-29', u'63866'],
 [u'2018-09-30', u'55893'],
 [u'2018-10-01', u'51808'],
 [u'2018-10-02', u'57280'],
 [u'2018-10-03', u'64671'],
 [u'2018-10-04', u'59413'],
 [u'2018-10-05', u'7772'],
 [u'2018-10-06', u'32510'],
 [u'2018-10-07', u'57873'],
 [u'2018-10-08', u'57247'],
 [u'2018-10-09', u'61525'],
 [u'2018-10-10', u'44876'],
 [u'2018-10-11', u'44489'],
 [u'2018-10-12', u'48529'],
 [u'2018-10-13', u'49203'],
 [u'2018-10-14', u'49025'],
 [u'2018-10-15', u'49503'],
 [u'2018-10-16', u'51236'],
 [u'2018-10-17', u'49795'],
 [u'2018-10-18', u'49560'],
 [u'2018-10-19', u'52122'],
 [u'2018-10-20', u'49815'],
 [u'2018-10-21', u'48346'],
 [u'2018-10-22', u'49889'],
 [u'2018-10-23', u'40223'],
 [u'2018-10-24', u'50343'],
 [u'2018-10-25', u'52181'],
 [u'2018-10-26', u'24308'],
 [u'2018-10-27', u'33699'],
 [u'2018-10-28', u'20882'],
 [u'2018-10-29', u'36107'],
 [u'2018-10-30', u'37382'],
 [u'2018-10-31', u'39009'],
 [u'2018-11-01', u'41911'],
 [u'2018-11-02', u'44917'],
 [u'2018-11-03', u'40640'],
 [u'2018-11-04', u'39973'],
 [u'2018-11-05', u'43870'],
 [u'2018-11-06', u'39680'],
 [u'2018-11-07', u'29492'],
 [u'2018-11-08', u'2730'],
 [u'2018-11-09', u'34673'],
 [u'2018-11-10', u'34194'],
 [u'2018-11-11', u'23926'],
 [u'2018-11-12', u'38706'],
 [u'2018-11-13', u'40263'],
 [u'2018-11-14', u'41973'],
 [u'2018-11-15', u'39702'],
 [u'2018-11-16', u'37629'],
 [u'2018-11-17', u'28167'],
 [u'2018-11-18', u'26464'],
 [u'2018-11-19', u'34352'],
 [u'2018-11-20', u'34855'],
 [u'2018-11-21', u'28140'],
 [u'2018-11-22', u'29239'],
 [u'2018-11-23', u'28620'],
 [u'2018-11-24', u'11255'],
 [u'2018-11-25', u'19946'],
 [u'2018-11-26', u'30698'],
 [u'2018-11-27', u'28806'],
 [u'2018-11-28', u'29177'],
 [u'2018-11-29', u'28977'],
 [u'2018-11-30', u'28557'],
 [u'2018-12-01', u'24622'],
 [u'2018-12-02', u'23035'],
 [u'2018-12-03', u'10638'],
 [u'2018-12-04', u'20029'],
 [u'2018-12-05', u'23535'],
 [u'2018-12-06', u'23788'],
 [u'2018-12-07', u'15148'],
 [u'2018-12-08', u'9824'],
 [u'2018-12-09', u'8749'],
 [u'2018-12-10', u'17987'],
 [u'2018-12-11', u'20805'],
 [u'2018-12-12', u'19339'],
 [u'2018-12-13', u'11765'],
 [u'2018-12-14', u'14932'],
 [u'2018-12-15', u'12720'],
 [u'2018-12-16', u'10783'],
 [u'2018-12-17', u'17449'],
 [u'2018-12-18', u'20917'],
 [u'2018-12-19', u'21970'],
 [u'2018-12-20', u'22881'],
 [u'2018-12-21', u'23422'],
 [u'2018-12-22', u'17127'],
 [u'2018-12-23', u'13601'],
 [u'2018-12-24', u'16579'],
 [u'2018-12-25', u'12437'],
 [u'2018-12-26', u'17112'],
 [u'2018-12-27', u'11325'],
 [u'2018-12-28', u'10445'],
 [u'2018-12-29', u'8083'],
 [u'2018-12-30', u'7864'],
 [u'2018-12-31', u'11911'],
 [u'2019-01-01', u'8601'],
 [u'2019-01-02', u'14360'],
 [u'2019-01-03', u'16344'],
 [u'2019-01-04', u'17308'],
 [u'2019-01-05', u'12380'],
 [u'2019-01-06', u'11094'],
 [u'2019-01-07', u'16795'],
 [u'2019-01-08', u'15833'],
 [u'2019-01-09', u'15819'],
 [u'2019-01-10', u'17894'],
 [u'2019-01-11', u'19271'],
 [u'2019-01-12', u'14519'],
 [u'2019-01-13', u'11751'],
 [u'2019-01-14', u'14818'],
 [u'2019-01-15', u'14761'],
 [u'2019-01-16', u'15823'],
 [u'2019-01-17', u'17960'],
 [u'2019-01-18', u'18901'],
 [u'2019-01-19', u'14883'],
 [u'2019-01-20', u'11191'],
 [u'2019-01-21', u'17240'],
 [u'2019-01-22', u'19885'],
 [u'2019-01-23', u'19163'],
 [u'2019-01-24', u'20057'],
 [u'2019-01-25', u'18159'],
 [u'2019-01-26', u'13203'],
 [u'2019-01-27', u'12440'],
 [u'2019-01-28', u'17317'],
 [u'2019-01-29', u'19477'],
 [u'2019-01-30', u'20677'],
 [u'2019-01-31', u'17649'],
 [u'2019-02-01', u'17696'],
 [u'2019-02-02', u'13742'],
 [u'2019-02-03', u'2010'],
 [u'2019-02-04', u'8562'],
 [u'2019-02-05', u'9119'],
 [u'2019-02-06', u'13694'],
 [u'2019-02-07', u'14533'],
 [u'2019-02-08', u'14782'],
 [u'2019-02-09', u'11760'],
 [u'2019-02-10', u'9759'],
 [u'2019-02-11', u'16881'],
 [u'2019-02-12', u'18862'],
 [u'2019-02-13', u'18411'],
 [u'2019-02-14', u'19376'],
 [u'2019-02-15', u'9213'],
 [u'2019-02-16', u'12641'],
 [u'2019-02-17', u'13390'],
 [u'2019-02-18', u'19916'],
 [u'2019-02-19', u'11689'],
 [u'2019-02-20', u'19572'],
 [u'2019-02-21', u'20995'],
 [u'2019-02-22', u'21727'],
 [u'2019-02-23', u'23742'],
 [u'2019-02-24', u'21933'],
 [u'2019-02-25', u'23445'],
 [u'2019-02-26', u'28010'],
 [u'2019-02-27', u'28652'],
 [u'2019-02-28', u'27431'],
 [u'2019-03-01', u'21751'],
 [u'2019-03-02', u'22503'],
 [u'2019-03-03', u'24382'],
 [u'2019-03-04', u'26887'],
 [u'2019-03-05', u'24042'],
 [u'2019-03-06', u'25379'],
 [u'2019-03-07', u'31156'],
 [u'2019-03-08', u'33073'],
 [u'2019-03-09', u'32421'],
 [u'2019-03-10', u'31050'],
 [u'2019-03-11', u'28539'],
 [u'2019-03-12', u'25537'],
 [u'2019-03-13', u'28653'],
 [u'2019-03-14', u'30997'],
 [u'2019-03-15', u'20481'],
 [u'2019-03-16', u'26057'],
 [u'2019-03-17', u'35622'],
 [u'2019-03-18', u'36313'],
 [u'2019-03-19', u'39908'],
 [u'2019-03-20', u'16204'],
 [u'2019-03-21', u'26455'],
 [u'2019-03-22', u'32363'],
 [u'2019-03-23', u'21696'],
 [u'2019-03-24', u'31622'],
 [u'2019-03-25', u'34226'],
 [u'2019-03-26', u'42644'],
 [u'2019-03-27', u'35832'],
 [u'2019-03-28', u'38806'],
 [u'2019-03-29', u'43893'],
 [u'2019-03-30', u'14001'],
 [u'2019-03-31', u'22326']]

In [62]:
bicycleDf=spark.createDataFrame(bicycleRdd, bicycleSchema)

In [63]:
bicycleDf.show()

Py4JJavaError: An error occurred while calling o497.showString.
: org.apache.spark.SparkException: Job aborted due to stage failure: Task 0 in stage 29.0 failed 1 times, most recent failure: Lost task 0.0 in stage 29.0 (TID 226, localhost): org.apache.spark.api.python.PythonException: Traceback (most recent call last):
  File "C:\Users\G312\Downloads\spark-2.0.0-bin-hadoop2.7\python\lib\pyspark.zip\pyspark\worker.py", line 172, in main
  File "C:\Users\G312\Downloads\spark-2.0.0-bin-hadoop2.7\python\lib\pyspark.zip\pyspark\worker.py", line 167, in process
  File "C:\Users\G312\Downloads\spark-2.0.0-bin-hadoop2.7\python\lib\pyspark.zip\pyspark\serializers.py", line 263, in dump_stream
    vs = list(itertools.islice(iterator, batch))
  File "C:\Users\G312\Downloads\spark-2.0.0-bin-hadoop2.7\python\lib\pyspark.zip\pyspark\sql\session.py", line 505, in prepare
  File "C:\Users\G312\Downloads\spark-2.0.0-bin-hadoop2.7\python\lib\pyspark.zip\pyspark\sql\types.py", line 1349, in _verify_type
    _verify_type(v, f.dataType, f.nullable)
  File "C:\Users\G312\Downloads\spark-2.0.0-bin-hadoop2.7\python\lib\pyspark.zip\pyspark\sql\types.py", line 1321, in _verify_type
    raise TypeError("%s can not accept object %r in type %s" % (dataType, obj, type(obj)))
TypeError: IntegerType can not accept object u'4950' in type <type 'unicode'>

	at org.apache.spark.api.python.PythonRunner$$anon$1.read(PythonRDD.scala:193)
	at org.apache.spark.api.python.PythonRunner$$anon$1.<init>(PythonRDD.scala:234)
	at org.apache.spark.api.python.PythonRunner.compute(PythonRDD.scala:152)
	at org.apache.spark.api.python.PythonRDD.compute(PythonRDD.scala:63)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:319)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:283)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:38)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:319)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:283)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:38)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:319)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:283)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:38)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:319)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:283)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:38)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:319)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:283)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:38)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:319)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:283)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:70)
	at org.apache.spark.scheduler.Task.run(Task.scala:85)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:274)
	at java.util.concurrent.ThreadPoolExecutor.runWorker(Unknown Source)
	at java.util.concurrent.ThreadPoolExecutor$Worker.run(Unknown Source)
	at java.lang.Thread.run(Unknown Source)

Driver stacktrace:
	at org.apache.spark.scheduler.DAGScheduler.org$apache$spark$scheduler$DAGScheduler$$failJobAndIndependentStages(DAGScheduler.scala:1450)
	at org.apache.spark.scheduler.DAGScheduler$$anonfun$abortStage$1.apply(DAGScheduler.scala:1438)
	at org.apache.spark.scheduler.DAGScheduler$$anonfun$abortStage$1.apply(DAGScheduler.scala:1437)
	at scala.collection.mutable.ResizableArray$class.foreach(ResizableArray.scala:59)
	at scala.collection.mutable.ArrayBuffer.foreach(ArrayBuffer.scala:48)
	at org.apache.spark.scheduler.DAGScheduler.abortStage(DAGScheduler.scala:1437)
	at org.apache.spark.scheduler.DAGScheduler$$anonfun$handleTaskSetFailed$1.apply(DAGScheduler.scala:811)
	at org.apache.spark.scheduler.DAGScheduler$$anonfun$handleTaskSetFailed$1.apply(DAGScheduler.scala:811)
	at scala.Option.foreach(Option.scala:257)
	at org.apache.spark.scheduler.DAGScheduler.handleTaskSetFailed(DAGScheduler.scala:811)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.doOnReceive(DAGScheduler.scala:1659)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:1618)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:1607)
	at org.apache.spark.util.EventLoop$$anon$1.run(EventLoop.scala:48)
	at org.apache.spark.scheduler.DAGScheduler.runJob(DAGScheduler.scala:632)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:1871)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:1884)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:1897)
	at org.apache.spark.sql.execution.SparkPlan.executeTake(SparkPlan.scala:347)
	at org.apache.spark.sql.execution.CollectLimitExec.executeCollect(limit.scala:39)
	at org.apache.spark.sql.Dataset$$anonfun$org$apache$spark$sql$Dataset$$execute$1$1.apply(Dataset.scala:2183)
	at org.apache.spark.sql.execution.SQLExecution$.withNewExecutionId(SQLExecution.scala:57)
	at org.apache.spark.sql.Dataset.withNewExecutionId(Dataset.scala:2532)
	at org.apache.spark.sql.Dataset.org$apache$spark$sql$Dataset$$execute$1(Dataset.scala:2182)
	at org.apache.spark.sql.Dataset.org$apache$spark$sql$Dataset$$collect(Dataset.scala:2189)
	at org.apache.spark.sql.Dataset$$anonfun$head$1.apply(Dataset.scala:1925)
	at org.apache.spark.sql.Dataset$$anonfun$head$1.apply(Dataset.scala:1924)
	at org.apache.spark.sql.Dataset.withTypedCallback(Dataset.scala:2562)
	at org.apache.spark.sql.Dataset.head(Dataset.scala:1924)
	at org.apache.spark.sql.Dataset.take(Dataset.scala:2139)
	at org.apache.spark.sql.Dataset.showString(Dataset.scala:239)
	at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at sun.reflect.NativeMethodAccessorImpl.invoke(Unknown Source)
	at sun.reflect.DelegatingMethodAccessorImpl.invoke(Unknown Source)
	at java.lang.reflect.Method.invoke(Unknown Source)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:237)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:357)
	at py4j.Gateway.invoke(Gateway.java:280)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:128)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.GatewayConnection.run(GatewayConnection.java:211)
	at java.lang.Thread.run(Unknown Source)
Caused by: org.apache.spark.api.python.PythonException: Traceback (most recent call last):
  File "C:\Users\G312\Downloads\spark-2.0.0-bin-hadoop2.7\python\lib\pyspark.zip\pyspark\worker.py", line 172, in main
  File "C:\Users\G312\Downloads\spark-2.0.0-bin-hadoop2.7\python\lib\pyspark.zip\pyspark\worker.py", line 167, in process
  File "C:\Users\G312\Downloads\spark-2.0.0-bin-hadoop2.7\python\lib\pyspark.zip\pyspark\serializers.py", line 263, in dump_stream
    vs = list(itertools.islice(iterator, batch))
  File "C:\Users\G312\Downloads\spark-2.0.0-bin-hadoop2.7\python\lib\pyspark.zip\pyspark\sql\session.py", line 505, in prepare
  File "C:\Users\G312\Downloads\spark-2.0.0-bin-hadoop2.7\python\lib\pyspark.zip\pyspark\sql\types.py", line 1349, in _verify_type
    _verify_type(v, f.dataType, f.nullable)
  File "C:\Users\G312\Downloads\spark-2.0.0-bin-hadoop2.7\python\lib\pyspark.zip\pyspark\sql\types.py", line 1321, in _verify_type
    raise TypeError("%s can not accept object %r in type %s" % (dataType, obj, type(obj)))
TypeError: IntegerType can not accept object u'4950' in type <type 'unicode'>

	at org.apache.spark.api.python.PythonRunner$$anon$1.read(PythonRDD.scala:193)
	at org.apache.spark.api.python.PythonRunner$$anon$1.<init>(PythonRDD.scala:234)
	at org.apache.spark.api.python.PythonRunner.compute(PythonRDD.scala:152)
	at org.apache.spark.api.python.PythonRDD.compute(PythonRDD.scala:63)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:319)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:283)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:38)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:319)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:283)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:38)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:319)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:283)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:38)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:319)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:283)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:38)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:319)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:283)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:38)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:319)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:283)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:70)
	at org.apache.spark.scheduler.Task.run(Task.scala:85)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:274)
	at java.util.concurrent.ThreadPoolExecutor.runWorker(Unknown Source)
	at java.util.concurrent.ThreadPoolExecutor$Worker.run(Unknown Source)
	... 1 more